@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #0b0b0b;
  color: #e5e5e5;
  /* margin: 0 120px; */
  max-width: 1280px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
  margin-left: 120px;
  margin-right: 120px;
}

.navbar > h2 {
  font-size: 36px;
}

.navbar > ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

.navbar > ul > li {
  margin-right: 32px;
}

.navbar > ul > li > a {
  text-decoration: none;
  color: #e5e5e5;
  font-size: 18px;
}

.header {
  margin-top: 40px;
  /* margin-right: 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 120px;
  /* height: 100vh; */
}

.header > .hero-left > h3 {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 18px;
  color: #e99557;
}

.header > .hero-left > h1 {
  margin-bottom: 32px;
  font-size: 56px;
  font-weight: 700;
  width: 600px;
}

.header > .hero-left > button {
  width: 120px;
  height: 48px;
  outline: none;
  border: none;
  font-weight: 800;
  border-radius: 4px;
  background-color: #e99557;
  font-size: 18px;
}

.about-me {
  /* margin: 0 120px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  background-color: #0f0f0f;
  padding: 50px 0px;
}

.about-me > .about-left {
  margin-left: 120px;
}

.about-me > .about-right {
  margin-right: 120px;
}

.about-me > .about-left > h4 {
  font-size: 24px;
  font-weight: 800;
}

.about-me > .about-left > p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 56px;
  width: 520px;
  margin-bottom: 56px;
  line-height: 32px;
}

.about-me > .about-left > h5 {
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.about-me > .about-left > h5 > i {
  margin-left: 5px;
  color: #e99557;
}

.my-projects {
  margin-top: 100px;
  margin-left: 120px;
  margin-right: 120px;
}

.my-projects > h4 {
  font-size: 24px;
  font-weight: 800;
}

.my-projects > .proj-cards {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 24px;
}

.my-projects > .proj-cards > .proj-one {
  background-color: #1f1f1f;
  height: 330px;
  width: 334px;
  border-radius: 4px;
}

.my-projects > .proj-cards > .proj-one > .img-card {
  height: 218px;
  width: 334px;
}

.my-projects > .proj-cards > .proj-one > .img-card > img {
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.my-projects > .proj-cards > .proj-one > .proj-details {
  padding-left: 16px;
}

.my-projects > .proj-cards > .proj-one > .proj-details > p {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.my-projects > .proj-cards > .proj-one > .proj-details > span {
  font-size: 12px;
  background-color: #0b0b0b;
  padding: 5px 8px;
}

.my-projects > .proj-cards > .proj-one > .proj-details > .proj-links {
  margin-top: 16px;
}

.my-projects > .proj-cards > .proj-one > .proj-details > .proj-links > a {
  text-decoration: underline;
  color: #e99557;
  font-size: 16px;
  font-weight: 300;
}

.skills {
  margin-top: 100px;
  margin-right: 120px;
  margin-left: 120px;
}

.skills > h4 {
  font-size: 24px;
  font-weight: 800;
}

.skills > .skills-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
}

.skills > .skills-sec > .skills-left > p {
  width: 510px;
  line-height: 32px;
  font-size: 18px;
  font-weight: 300;
}

.blogs {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 100px;
}

.blogs > h4 {
  font-size: 24px;
  font-weight: 800;
}

.blogs > .blog-cards {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 24px;
}

.blogs > .blog-cards > .blog-one {
  height: 425px;
  width: 480px;
  background-color: #0f0f0f;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.blogs > .blog-cards > .blog-one > img {
  width: 100%;
  height: 250px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.blogs > .blog-cards > .blog-one > h5 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 16px;
}

.blogs > .blog-cards > .blog-one > p {
  font-size: 18px;
  font-weight: 200;
  line-height: 26px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.blogs > .blog-cards > .blog-one > a {
  color: #e99557;
  font-size: 18px;
  font-weight: 200;
}

.blogs > .blog-cards > .blog-one > a,
.blogs > .blog-cards > .blog-one > p,
.blogs > .blog-cards > .blog-one > h5 {
  padding-left: 16px;
  padding-right: 16px;
}

.contact-me {
  margin-top: 100px;
  margin-right: 120px;
  margin-left: 120px;
  margin-bottom: 100px;
}

.contact-me > h4 {
  font-size: 24px;
  font-weight: 800;
}

.contact-info > .contact-left > h5 {
  font-size: 24px;
  font-weight: 300;
}

.contact-info > .contact-left > p:nth-child(2) {
  font-size: 18px;
  font-weight: 200;
  margin-top: 16px;
}

.contact-info > .contact-left > p:nth-child(3) {
  font-size: 18px;
  font-weight: 200;
  margin-top: 40px;
}

.contact-info > .contact-left > p:nth-child(4) {
  font-size: 18px;
  font-weight: 200;
  margin-top: 32px;
}

.contact-info > .contact-left > p > i:nth-child(1) {
  margin-left: 10px;
}

.contact-info > .contact-left > p > i {
  color: #e5e5e5;
  margin-right: 16px;
  font-size: 32px;
  cursor: pointer;
}

.contact-info > .contact-left > p > a {
  color: #e99557;
  font-weight: 500;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 48px;
}

.contact-info > .contact-right {
  height: 495px;
  width: 510px;
  background-color: #141414;
  padding: 30px 30px;
  display: flex;
  align-items: flex-start;
  /* justify-content: start; */
  flex-direction: column;
  border-radius: 4px;
}

.contact-info > .contact-right > input {
  width: 100%;
  height: 50px;
  background-color: #0b0b0b;
  padding-left: 24px;
  border: 1px solid #1f1f1f;
  color: #e5e5e5;
}

.contact-info > .contact-right > button {
  width: 120px;
  height: 40px;
  outline: none;
  border: none;
  margin-top: 24px;
  border-radius: 4px;
  background-color: #e99557;
  font-size: 16px;
  color: #1f1f1f;
  font-weight: 700;
  cursor: pointer;
}

.contact-info > .contact-right > input:nth-child(2) {
  margin-top: 24px;
}

.contact-info > .contact-right > textarea {
  /* height: 150px; */
  margin-top: 24px;
  background-color: #0b0b0b;
  border: 1px solid #1f1f1f;
  color: #e5e5e5;
}

.end {
  height: 3px;
  width: 100%;
  background-color: #e99557;
}

/* Media quiries */

/* Ipad */

@media screen and (max-width: 834px) {
  .navbar {
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
  }

  .navbar > h2 {
    font-size: 24px;
  }

  .navbar > ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
  }

  .navbar > ul > li {
    margin-right: 24px;
  }

  .navbar > ul > li > a {
    font-size: 16px;
    font-weight: 500;
  }

  .navbar > ul > li:nth-child(7),
  .navbar > ul > li:nth-child(8),
  .navbar > ul > li:nth-child(6) {
    display: none;
  }

  .header {
    margin-left: 80px;
    /* height: 100vh; */
  }

  .header > .hero-left > h3 {
    margin-bottom: 16px;
    font-weight: 700;
  }

  .header > .hero-left > h1 {
    margin-bottom: 32px;
    font-size: 40px;
    width: 405px;
  }

  .header > .hero-right > img {
    width: 336px;
    height: 454px;
  }

  .about-me {
    margin-top: 80px;
    padding: 50px 0px;
  }

  .about-me > .about-left {
    margin-left: 80px;
  }

  .about-me > .about-right {
    margin-right: 80px;
  }

  .about-me > .about-right > img {
    height: 282px;
    width: 242px;
  }

  .about-me > .about-left > p {
    font-size: 16px;
    font-weight: 200;
    margin-top: 40px;
    width: 350px;
    margin-bottom: 38px;
    line-height: 26px;
  }

  .my-projects {
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
  }

  .my-projects > .proj-cards {
    row-gap: 36px;
  }

  .my-projects > .proj-cards > .proj-one {
    height: 310px;
    width: 280px;
  }

  .my-projects > .proj-cards > .proj-one > .img-card {
    height: 192px;
    width: 280px;
  }

  .my-projects > .proj-cards > .proj-one > .proj-details {
    margin-top: 0px;
  }

  .skills {
    margin-top: 80px;
    margin-right: 80px;
    margin-left: 80px;
  }

  .skills > .skills-sec {
    display: block;
    margin-top: 48px;
  }

  .skills > .skills-sec > .skills-left > p {
    width: 600px;
    line-height: 30px;
    margin-bottom: 50px;
  }

  .skills > .skills-sec > .skills-right > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  }

  .blogs {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 100px;
  }

  .blogs > .blog-cards > .blog-one {
    height: 530px;
    width: 672px;
    /* background-color: aqua; */
  }

  .blogs > .blog-cards > .blog-one > img {
    height: auto;
    max-width: 100%;
  }

  .contact-me {
    margin-top: 100px;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 100px;
  }

  .contact-info > .contact-left > p:nth-child(2) {
    font-size: 18px;
    font-weight: 200;
    margin-top: 16px;
  }

  .contact-info > .contact-left > p:nth-child(3) {
    font-size: 18px;
    font-weight: 200;
    margin-top: 40px;
  }

  .contact-info > .contact-left > p:nth-child(4) {
    font-size: 18px;
    font-weight: 200;
    margin-top: 32px;
  }

  .contact-info > .contact-left > p > i:nth-child(1) {
    margin-left: 10px;
  }

  .contact-info > .contact-left > p > i {
    color: #e5e5e5;
    margin-right: 16px;
    font-size: 32px;
    cursor: pointer;
  }

  .contact-info > .contact-left > p > a {
    color: #e99557;
    font-weight: 500;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
  }

  .contact-info > .contact-right {
    height: 515px;
    width: 674px;
    margin-top: 40px;
  }

  .contact-info > .contact-right > button {
    width: 100%;
    height: 50px;
  }

  .contact-info > .contact-right > input:nth-child(2) {
    margin-top: 24px;
  }

  .contact-info > .contact-right > textarea {
    width: 100%;
  }
}
